
h1 {
    color: brown;
}

* {
    border: solid;
}

.header{
    background-color: #321228; 
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    justify-content: space-evenly;
    flex: wrap ;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color: #808080;

}